@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(c_NanumSquareR.eot);
 src: url(c_NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(c_NanumSquareR.woff) format('woff'),
      url(c_NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(c_NanumSquareB.eot);
 src: url(c_NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(c_NanumSquareB.woff) format('woff'),
      url(c_NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(c_NanumSquareEB.eot);
 src: url(c_NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(c_NanumSquareEB.woff) format('woff'),
      url(c_NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(c_NanumSquareL.eot);
 src: url(c_NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(c_NanumSquareL.woff) format('woff'),
      url(c_NanumSquareL.ttf) format('truetype');
}
